<header id="topNav">
	<ul>
		<li>
			<a href="/index.html">index</a>
		</li>
		<li>
			<span>framework</span>
			<ul>
				<li>
					<a href="/framework/react-page-sample.html">react-page-sample</a>
				</li>
				<li>
					<a href="/framework/vue-page-sample.html">vue-page-sample</a>
				</li>
				<li>
					<a href="/framework/sub-3/">sub-3</a>
					<ul>
						<li>
							<a href="/framework/sub-3/sub-3-1.html">sub-3-1</a>
						</li>
						<li>
							<a href="/framework/sub-3/sub-3-2.html">sub-3-2</a>
						</li>
					</ul>
				</li>
			</ul>
		</li>
	</ul>
</header>
<input id="theme-switch" type="checkbox"  value="dark" />
<label for="theme-switch">Dark Mode</label>